name: 07 - Using Expressions

on:
    workflow_dispatch:
        inputs:
            debug:
                description: "Debug Input"
                type: boolean
                default: false

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            -   name: "[debug] Printing Information"
                if: ${{ inputs.debug }}
                run: |
                    echo "Triggered by: ${{ github.event_name }}"
                    echo "Branch: ${{ github.ref }}"
                    echo "Commit SHA: ${{ github.sha }}"    
        